.channel-card {
    height: 190px;
    width: 355px;
    text-align: center;
    .channel-icon {
        width: 200px;
        margin: 0 auto;
        img {
            display: inline-block;
            border-radius: 50%;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .channel-text {
        padding-top: 10px;
        a {
            text-decoration: none;
            color: #fff;
        }
        font-size: 14px;
        font-weight: 400;
    }
}
