.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f0f0f;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    .logo {
        width: 80px;
    }
    .search {
        display: flex;
        align-items: center;
        input {
            padding: 10px 120px 10px 30px;
            border: 1px solid #303030;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            outline: none;
            background-color: #0f0f0f;
            color: #fff;
            font-family: "Roboto", sans-serif;
            font-size: 16px;
        }
        button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            border: 1px solid #303030;
            background-color: #222222;
            padding: 8px 15px 4px 15px;
            cursor: pointer;
            svg {
                color: #e4e4e4;
                font-size: 24px;
            }
        }
    }

    .profile {
        display: flex;
        .notification,
        .avatar {
            margin-left: 25px;
            cursor: pointer;
            svg {
                font-size: 26px;
            }
        }
        .notification {
            margin-left: 0;
        }
    }
}

@media only screen and (max-width: 767px) {
    .navbar {
        .search {
            input {
                padding: 10px 100px 10px 30px;
                width: 50px;
            }
        }
        .profile {
            .notification,
            .avatar {
                margin-left: 10px;
                cursor: pointer;
                svg {
                    font-size: 26px;
                }
            }
        }
    }
}
