.video-card {
    width: 355px;
    margin: 10px;
    .video-thumbnail {
        height: 190px;
        border-radius: 15px;
        background-color: #0f0f0f;
        margin-bottom: 15px;
        img {
            border-radius: 15px;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .video-text {
        a {
            text-decoration: none;
        }
        padding: 0 15px;
        .video-title {
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 5px;
            border-bottom: none;
        }
        .channel-title {
            color: #ffffff8f;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 15px;
            padding-left: 2px;
            display: flex;
            align-items: flex-end;
        }
    }
}
@media only screen and (min-width: 1601px) and (max-width: 1919px) {
    .video-card {
        width: 330px;
        .video-thumbnail {
            height: 185px;
        }
    }
}
@media only screen and (min-width: 1201px) and (max-width: 1600px) {
    .video-card {
        width: 265px;
        .video-thumbnail {
            height: 144px;
        }
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .video-card {
        width: 225px;
        margin: 10px;
        .video-thumbnail {
            height: 126px;
        }
        .video-text {
            padding: 0 15px;
            .video-title {
                font-weight: 400;
                font-size: 14px;
            }
            .channel-title {
                padding-left: 0;
                font-weight: 400;
            }
        }
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .video-card {
        width: 280px;
        margin: 10px;
        .video-thumbnail {
            height: 158px;
        }
        .video-text {
            padding: 0 15px;
            .video-title {
                font-weight: 400;
            }
            .channel-title {
                padding-left: 0;
            }
        }
    }
}
